<div class="flex items-center w-full ml-12"></div>
<div class="flex items-center justify-end flex-shrink-0 px-6 py-4 space-x-8">
  <%= link_to "Sign In", new_user_session_path, class: "rounded px-2 py-1 text-gray-700 hover:text-gray-900 hover:bg-gray-200" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "rounded px-2 py-1 text-gray-700 hover:text-gray-900 hover:bg-gray-200" %>
</div>